@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

table {
  border-collapse: collapse;
}

thead th {
  background: black;
  color: white;
}

table td,
table th {
  padding: 12px 20px;
  text-align: center;
}

table tbody tr {
  border-bottom: 1px solid #ddd;
}

th .menu {
  visibility: hidden;
}

th:hover .menu {
  visibility: visible;
}
